body {
    background-color: #222222;
}

/*All of about*/
div {
    margin-top: 30px;
}

/*About paragraph*/
div > p {
    color: white;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
}

/*Link*/
div > p > a {
    color: #52c3ff;
    text-decoration: none;
}
div > p > a:hover {
    text-decoration: underline;
}

/*Image o'Bunnly*/
div > p > img {
    margin-top: 45px;
    width: 20vw;
    height: auto;
}