body {
    background-color: #222222;
}

/*About paragraph*/
p {
    color: white;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
}

/*Link*/
p > a {
    color: #52c3ff;
    text-decoration: none;
}
p > a:hover {
    text-decoration: underline;
}

/*Image o'Bunnly*/
p > img {
    size: 2%;
}