body {
    background-color: #222222;
}

/*All of about*/
div {
    margin-top: 60px;
}

/*About paragraph*/
div > p {
    color: white;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
}

/*Copy button*/
div > button {
    align-self: center;
    background-color: #333333;
    border-radius: 20px;
    border: 3px solid #52c3ff;
}