body {
    background-color: #222222;
}

/*All of about*/
div {
    margin-top: 60px;
}

/*About paragraph*/
div > p {
    color: white;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
}