body {
    background-color: #222222;
}

/*All of about*/
div {
    margin-top: 60px;
}

/*About paragraph*/
div > p {
    color: white;
    font-family: Roboto;
    font-size: 15vm;
    text-align: center;
}

/*Copy button*/
div > button {
    width: fit-content;
    color: #52c3ff;
    background-color: #333333;
    margin: 5px auto;
    border-radius: 20px;
    border: 3px solid #52c3ff;
}

/*Copy button text*/
#copy {
    visibility: hidden;
    opacity: 0;
    color: #52c3ff;
    background-color: #333333;
    position: absolute;
    border-radius: 20px;
    border: 3px solid #52c3ff;
    transition: opacity 0.3s;
}

#copy:hover {
    visibility: visible;
    opacity: 1;
}