/*Listed links*/
nav > ul > li {
    display: inline-block;
    line-height: 64px;
    margin: 0 5px;
}

/*links*/
nav > ul > li > a {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #32a1dc;
    color: #eeeeee;
}

/*Remove list dots*/
nav > ul {
    float: left;
    list-style-type: none;
}

/*Icon*/
nav > a {
    float: left;
    margin: 10px;
    height: calc(100% - 20px);
    width:auto;
}

/*Navigation bar*/
nav {
    background-color: #323232;
    height: 64px;
    width: clac(100% - 20px);
    margin: 10px auto;
    border-radius: 20px;
    border: 3px solid #32a1dc;
}