/*Links*/
nav > ul > a {
    
}

/*Remove list dots*/
nav > ul {
    list-style-type: none;
}

/*Icon*/
nav > a {
    margin: 3px;
    max-height: fit-content;
    width:auto;
}

/*Navigation bar*/
nav {
    background-color: #323232;
    height: 64px;
    width: clac(100% - 20px);
    margin: 10px auto;
}