nav > ul > a {
    
}

nav > ul {
    list-style-type: none;
}

nav {
    background-color: #323232;
    height: 64px;
    width: clac(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}