body {
    font-family: Roboto;
}

#topnav {
    background-color: #303030;
    overflow: hidden;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover {
    background-color: #55f9ff;
    color: #000000;
}

#topnav a.active {
    background-color: #00cdd4;
    color: #303030;
}