body {
    font-family: Roboto;
    background-color: #222222;
}

#topnav {
    background-color: #303030;
    border-style: solid;
    border-color: #10a4c9;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    height: 64px;
}

#topnav > #topnav-button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    height: 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}

#topnav > a > #topnav-icon {
    float: left;
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: 10px;
}

#topnav > #topnav-button:hover {
    background-color: #10a4c9;
    color: #000000;
    border-radius: 8px;
}

#topnav > #topnav-button.active {
    background-color: #1bd1ff;
    color: #303030;
    border-radius: 8px;
}