body {
    font-family: Roboto;
    background-color: #222222;
}

#topnav {
    background-color: #303030;
    border-style: solid;
    border-color: #10a4c9;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    height: 64px;
}

.topnav-button:not(.active) {
    float: left;
    color: #f2f2f2;
    text-align: center;
    line-height: 0px;
    padding: 20px 20px;
    height: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.topnav-icon {
    float: left;
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav-button:hover:not(.active) {
    float: left;
    background-color: #10a4c9;
    color: #000000;
    text-align: center;
    line-height: 0px;
    padding: 20px 20px;
    height: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.topnav-button:active {
    float: left;
    background-color: #1bd1ff;
    color: #303030;
    text-align: center;
    line-height: 0px;
    padding: 20px 20px;
    height: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 15px;
}