@font-face {
    font-family: 'icons';
    src: url('../../../fonts/icons.woff2') format('woff2'), /* Modern Browsers */
         url('../../../fonts/icons.woff') format('woff'),   /* Firefox, Chrome, Opera */
         url('../../../fonts/icons.ttf') format('truetype'); /* IE, Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

.icon-tribar:before {
    content: "\e900";
}