.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-tribar {
    background-image: url("https://bunnly.github.io/images/icons/icon.svg#icon-tribar");
}